<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Data Science, Software Development and Beer</title>
    <!-- meta -->
    <meta name="description" content="">
    <meta name="author" content="Thomas Scolaro">
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <!-- styles -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/main.css') }}">

    {% block css %}{% endblock %}
  </head>

  <body class="responsive" background='{{ url_for('static',filename='images/gray.jpg') }}'>
    <div id="header" class="sticky"  >
        <h1><a href= "home">Tom Scolaro</a></h1>
        <h2> Data Scientist - Developer - Beer Enthusiast</h2>
        <nav id="nav">
          <ul>
            <li><a href="blog">Blog</a></li>
            <li><a href="projects">Projects</a></li>
            <li><a href="resume">Contact</a></li>
          </ul>
        </nav>
    </div>

    <div class="container">
      <br>
      <!-- child template -->
      {% block content %}{% endblock %}
    </div>

    <!-- scripts -->
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    {% block js %}{% endblock %}
  </body>
</html>
